/* Group 49 */

position: absolute;
width: 3349.46px;
height: 1424.86px;
left: 1647.25px;
top: -1653.26px;

filter: blur(300px);
transform: matrix(-0.82, 0.58, 0.58, 0.82, 0, 0);


/* Rectangle 34 */

position: absolute;
left: 66.54%;
right: 24.24%;
top: -53.64%;
bottom: 108.36%;

background: #13004F;
opacity: 0.67;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 35 */

position: absolute;
left: 58.86%;
right: 31.93%;
top: -49.2%;
bottom: 103.92%;

background: #21007B;
opacity: 0.67;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 36 */

position: absolute;
left: 51.17%;
right: 39.61%;
top: -44.75%;
bottom: 99.48%;

background: #3107A7;
opacity: 0.67;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 37 */

position: absolute;
left: 43.49%;
right: 47.29%;
top: -40.31%;
bottom: 95.03%;

background: #4314CB;
opacity: 0.67;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 38 */

position: absolute;
left: 35.81%;
right: 54.97%;
top: -35.86%;
bottom: 90.59%;

background: #8C35EC;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 39 */

position: absolute;
left: 28.13%;
right: 62.66%;
top: -31.42%;
bottom: 86.15%;

background: #BB44F0;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 40 */

position: absolute;
left: 20.44%;
right: 70.34%;
top: -26.98%;
bottom: 81.7%;

background: #E554F3;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 41 */

position: absolute;
left: 12.76%;
right: 78.02%;
top: -22.53%;
bottom: 77.26%;

background: #F664E4;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 42 */

position: absolute;
left: 5.08%;
right: 85.7%;
top: -18.09%;
bottom: 72.82%;

background: #F974CC;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 46 */

position: absolute;
left: -2.6%;
right: 93.39%;
top: -13.65%;
bottom: 68.37%;

background: #FB85B9;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 47 */

position: absolute;
left: -10.29%;
right: 101.07%;
top: -9.2%;
bottom: 63.93%;

background: #FD97AE;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 48 */

position: absolute;
left: -17.97%;
right: 108.75%;
top: -4.76%;
bottom: 59.49%;

background: #FEA9AA;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 49 */

position: absolute;
left: -25.65%;
right: 116.43%;
top: -0.32%;
bottom: 55.04%;

background: #FFC9BB;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);


/* Rectangle 50 */

position: absolute;
left: -33.33%;
right: 124.12%;
top: 4.13%;
bottom: 50.6%;

background: #FFE3CE;
transform: matrix(-0.83, 0.55, 0.55, 0.84, 0, 0);
